:root{
    --primary-color: #EEF2E6; 
    --dark-color: #1C6758;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
} 

.items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
  }

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 30px;
}

.bg-green {
    background-color: #3D8361;
}

.nav-links a {
    background-color: var(--dark-color);
    color: #EEF2E6;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

.card {
    background-color: #D6CDA4;
    height: 200px;
    width: 200px;
    border: 5px #3D8361;
    border-radius: 15px; 
    padding-top: 30px;
    margin: 10px;
    display: block;
    text-align: center;
}

.card img {
    width: 100px;
    border-radius: 3px;
} 

.card button {
    width: 200px;
    color: #EEF2E6;
    background-color: #1C6758;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.card button:hover {
    background-color: #3D8361;
}

.logo-text {
    color: #EEF2E6; 
}

.border-bottom {
    border-bottom: 10px solid gray;
  }
  
  .w-500 {
    width: 500px;
  }
  
  .w-200 {
    width: 200px;
  }
  
.product-details {
    background-color: #D6CDA4;
    height: 200px;
    width: 200px;
    border: 5px #3D8361;
    border-radius: 10px;
    padding-top: 30px;
    margin: 10px;
    image-resolution: 100px;
    object-fit: scale-down;
} 
  
.delete {
    color: black;
    background-color: #CC0000;
    height: 30px;
}

.increase {
    color: black;
    background-color: lightgreen;
    height: 30px;
    width: 30px;
}

.decrease {
    color:black;
    background-color: rgb(237, 65, 65);
    height: 30px;
    width: 30px;
}

.contact-info, .contact-form, .google-map {
    margin: 20px auto;
    padding: 20px;
    background-color: #D6CDA4;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
}

.contact-info h2, .contact-form h2, .google-map h2 {
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    line-height: 1.6;
}

.contact-form input, .contact-form textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #1C6758;
    color: #EEF2E6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #34495e;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3D8361;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.name h4 {
    text-overflow: ellipsis;
    width: 150px;

}